.App {
  text-align: center;
}

.navbar{
  height: 10vh;
  background-color: rgb(101, 54, 231);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input{
  margin-top: 20px;
}